html,
body {
  padding: 0;
  margin: 0;
}

body {
  background: #D6E6FF; 
    font-family: 'Inter', sans-serif;
  font-size: 20px;
}

#__next {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: auto 1fr auto;
}

main {
  padding: 20px;
}

header,
footer {
  min-height: 80px;
}

header {
  display: flex;
  align-items: center;
  
}

footer {
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
    }

a {
  color: #fff;
  text-decoration: none;
}
