.intro{   
        width: 100%;
        display: flex;
        justify-content: space-between;   
        background: #D6E6FF; 
        color: #00699E;
        
      }
      .info{
        padding: 0 0 0 160px;
                
      }
      .info h3{
        color: #051C40;

      }
.main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 160px;
        background: #ffffff; 
        color: #00699E;
}  

.mainText{
  background: #ffffff; 
  display: flex;
  align-items: center;
  justify-content: center;
   color: #00699E;
}
    
.mainBlock {
  display: flex;
  justify-content: space-between;
}

.mainBlockItem {
  text-align: center;
}